{% extends "bootstrap/base.html" %}
{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
{% endblock %}


{% block title %}УТОПО - Отдел Сетевых Технологий{% endblock %}   

{% block navbar %}

<nav class="nav nav-tabs">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img width="55" src="{{ url_for('static', filename = 'favicon.ico') }}">
      </a>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="/">Главная</a></li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">PPTP
            <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('pptp.poptop') }}">Проверить IP</a> </li>
                <li><a href="{{ url_for('pptp.add_pptp_db') }}">Обновить базу</a> </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Squidward
            <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('squidward.week') }}">TOP за неделю</a> </li>
                <li><a href="{{ url_for('squidward.month') }}">TOP за месяц</a> </li>
                <li><a href="{{ url_for('squidward.user') }}">Статистика по пользователю</a> </li>
                <li><a href="{{ url_for('squidward.copy') }}">Добавить в базу</a> </li>
            </ul>
        </li>

    </ul>
      
    <ul class="nav navbar-nav navbar-right">
      {% if current_user.is_authenticated %}
      <li><a href="{{ url_for('squidward.reports') }}">Сообщения: <span class="badge"></span>
          0
      </a></li>
      <li><a href="{{ url_for('auth.logout') }}">Выйти <span class="glyphicon glyphicon-log-in"></span></a></li>

      {% else %}
      <li><a href="{{ url_for('auth.login') }}">Вход <span class="glyphicon glyphicon-log-in"></span></a></li>
      <li><a href="{{ url_for('auth.register') }}">Регистрация <span class="glyphicon glyphicon-user"></span></a></li>
      {% endif %}
    </ul>
  </div>
</nav>

{% endblock %}

{% block content %}
<div style="padding-top: 45px">
    {% block page_content %}

    {% endblock %}
    {% for message in get_flashed_messages() %}
    <div class="container">
        <div style="padding-top: 45px">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
            <div class="alert alert-warning">
                {{ message }}
            </div>
        </div>
        </div>
        </div>
    {% endfor %}
    </div>
</div>

{% block footer %}
<div class="navbar-fixed-bottom row-fluid">
    <div class="navbar-inner">
        <div class="container">
            &copy; 2017 wirr@wirr.pro
        </div>
    </div>
</div>
{% endblock %}
{% endblock %}


