{% extends "base.html" %}


{% block page_content %}

<div class="container" style="padding-top: 7%">

  <div class="col-sm-6" style="padding-top: 45px">
      <img src="{{ url_for('static', filename = 'squid1.gif') }}" class="img-circle" alt="Cinque Terre">
  </div>
  <div class="col-sm-6">
    <h1>Squidward - для Управления безопасности.</h1>
    <blockquote class="blockquote-reverse">
      <p>Установив систему защиты, не ждите благоприятных отзывов от сотрудников.</p>
      <p>Ни одно средство защиты, введенное в эксплуатацию, не прошло тестирования.</p>
      <p>Ни одно средство защиты, прошедшее тестирование, не готово к вводу в эксплуатацию (закон противоположности).</p>
      <p>Чем больше функций в системе защиты, тем больше вероятность, что одна из них не работает так как надо.</p>
        <footer><cite>Законы Мерфи (Наблюдения о средствах защиты).</cite></footer>
    </blockquote>
  </div>
</div>


{% endblock %}

