{% extends "base.html" %}


{% block page_content %}
<div class="container">
{#	<div class="row">#}
 	<div class="col-sm-12">
{# 	</div>#}





    <label for="comment">В базе всего {{ entries }} записей: c <i>{{ first_entry }} </i> по {{ last_entry }}</label>
{##}
{#   </div>#}
{#  </div>#}
 </div>
</div>

{% endblock %}