{% extends "base.html" %}
{% block page_content %}

<div class="container">
	<div class="row">
 	    <div class="col-sm-12">

            {% for month, days in dates_in_months.items() %}
            <table class="table table-striped table-bordered" id="{{ month }}">
                <div class="caption" align="center">
                </div>
                {% if month == 1 %} Январь
                    {% elif month == 2 %} Февраль
                    {% elif month == 3 %} Март
                    {% elif month == 4 %} Апрель
                    {% elif month == 5 %} Май
                    {% elif month == 6 %} Июнь
                    {% elif month == 7 %} Июль
                    {% elif month == 8 %} Август
                    {% elif month == 9 %} Сентябрь
                    {% elif month == 10 %} Октябрь
                    {% elif month == 11 %} Ноябрь
                    {% elif month == 12 %} Декабрь


            {% endif %}
                <thead class="thead-inverse">
                    <tr>
                        <th scope="col" id="1">пн</th>
                        <th scope="col" id="2">вт</th>
                        <th scope="col" id="3">ср</th>
                        <th scope="col" id="4">чт</th>
                        <th scope="col" id="5">пт</th>
                        <th scope="col" id="6">сб</th>
                        <th scope="col" id="7">вс</th>
                    </tr>
                </thead>
                <tbody>

                        <tr>
                    {% for day in days %}
                            <td>{% if day[2] < 32 %}
                                <a href="{{ url_for('squidward.daily_report',
                                start=day[3], stop=(day[3]+86400)) }}">{{ day[2] }}</a>
                                {% endif %}</td>

                            <!--{% if day[1] == 1 %}<tr><td headers="1">{% if day[0] < 13 %}{{ day[2] }} {{ day[0] }}{% endif %}</td>-->
                            <!--{% elif day[1] == 2 %}<td headers="2">{% if day[0] < 13 %}{{ day[2] }} {{ day[0] }}{% endif %}</td>-->
                            <!--{% elif day[1] == 3 %}<td headers="3">{% if day[0] < 13 %}{{ day[2] }} {{ day[0] }}{% endif %}</td>-->
                            <!--{% elif day[1] == 4 %}<td headers="4">{% if day[0] < 13 %}{{ day[2] }} {{ day[0] }}{% endif %}</td>-->
                            <!--{% elif day[1] == 5 %}<td headers="5">{% if day[0] < 13 %}{{ day[2] }} {{ day[0] }}{% endif %}</td>-->
                            <!--{% elif day[1] == 6 %}<td headers="6">{% if day[0] < 13 %}{{ day[2] }} {{ day[0] }}{% endif %}</td>-->
                            <!--{% elif day[1] == 7 %}<td headers="7">{% if day[0] < 13 %}{{ day[2] }} {{ day[0] }}{% endif %}</td>-->
                            </tr>
                    <!--{% endif %}-->
                    {% endfor %}
                </tbody>
            </table>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
