{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block page_content %}
<div class="container">
    <div class="btn-group btn-group-justified">
        <div class="btn-group" role="group">
            {{ wtf.quick_form(button_mark) }}
        </div>
        <div class="btn-group" role="group">
            {{ wtf.quick_form(button_remove) }}
        </div>
    </div>
</div>
<div class="container" style="padding-top: 45px">
	<div class="row">
 	    <div class="col-sm-12">
            <table class="table table-bordered table-sm">
                <thead class="thead-inverse">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Время</th>
                        <th scope="col">Раздел</th>
                        <th scope="col">Сообщение</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in to_db %}
                    {% if row[4] == 1 %}
                        <tr>
                            <td><b>{{ loop.index }}</b></td>
                            <td><b>{{ row[1] }}</b></td>
                            <td><b>{{ row[2] }}</b></td>
                            <td><b>{{ row[3] }}</b></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td><p class="text-muted">{{ loop.index }}</p></td>
                            <td><p class="text-muted">{{ row[1] }}</p></td>
                            <td><p class="text-muted">{{ row[2] }}</p></td>
                            <td><p class="text-muted">{{ row[3] }}</p></td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}