{% extends "base.html" %}


{% block page_content %}
<div class="container">
	<div class="row">
 	    <div class="col-sm-12">


            <table class="table table-bordered table-sm">
                <thead class="thead-inverse">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">IP-адрес</th>
                        <th scope="col">Сайт</th>
                        <th scope="col">Мб</th>
                    </tr>
                </thead>

                <tbody>
                    {% for row in to_db %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                        </tr>
                    {% endfor %}

                </tbody>

            </table>


        </div>
    </div>
</div>
{% endblock %}