{% extends "base.html" %}
{% block page_content %}

<div class="container">
	<div class="row">
 	    <div class="col-sm-12">
            <table class="table table-striped table-bordered">
                <thead class="thead-inverse">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">IP-адрес</th>
                        <th scope="col">Сайт</th>
                        <th scope="col">Мб</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in to_db %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[1] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <ul class="pagination">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

