{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="container">
    <div class="btn-group btn-group-justified">

        <div class="btn-group" role="group">
            {{ wtf.quick_form(form_new) }}


        </div>

        <div class="btn-group" role="group">
            {{ wtf.quick_form(form_add) }}

        </div>

    </div>
</div>
{% endblock %}
