{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="container">
	<div class="row">
 	<div class="col-sm-4">
	{{ wtf.quick_form(form) }}
	<hr>
 	</div>




  <div class="col-sm-offset-4">
   <div class="form-group">

  	<label for="comment">Результат:</label>
  	<textarea class="form-control" rows="25">{{ result }}</textarea>
       <text>В базе всего {{ entries }} записей: c <i>{{ first_entry }} </i> по {{ last_entry }}</label>
   </div>
  </div>
    </div>
</div>

{% endblock %}


